@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 400px;
    margin: 10px;
    padding: 12px 8px;
    background-color: #c4c4c4;
    color: black;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

}

h1 {
    color: #777; 
    font-size: .99em;
}

div#operacoes{
    text-align: right;
    margin: 0px 0px 12px 0px;
    padding: 8px 8px 0px 8px;
}

#operacao-anterior,#operacao-atual{
    overflow-wrap: break-word;
    min-height: 1.6em;
}

div#operacao-anterior {
    color: #777;    
}

div#operacao-atual {
    font-size: 2em;
    font-weight: 700;   
}

div#buttons-conteiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

#buttons-conteiner button {
    border: 1px solid transparent;
    border-radius: 0px;
    height: 4em;
    font-size: 1.1em;
    cursor: pointer;
    user-select: none;
    background-color: #DBDBDB;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

#buttons-conteiner button:hover{
    background-color: #bababa;
    border: #999;
    transition: .1S;
}

#buttons-conteiner .btn-numero {
    background-color: #f3f3f3;
}

#buttons-conteiner #btn-igual {
    background-color: #92dbfd;
}

#buttons-conteiner #btn-igual:hover {
    background-color: #87cfec;
}

@media screen and (min-width: 768px) {
    body {
        background: linear-gradient(45deg, black, grey);
    }
}